<article class="p-10 px-10 flex flex-col">
  <p class="text-3xl font-medium">Categories</p>
  <div class="flex gap-10 overflow-x-auto">
    <ul class="flex items-center justify-around gap-10">
      <li routerLink="/category"
        class="h-40 cursor-pointer group hover:bg-teal-200 flex flex-col items-center justify-center bg-gray-100 aspect-square rounded-2xl"
      >
        <div class="bg-gray-300 p-3 group-hover:bg-lime-500 rounded-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
            />
          </svg>
        </div>
        <div class="flex flex-col items-center justify-center gap-0.5 mt-3">
          <div class="font-extrabold text-2xl leading-none">Art</div>
          <div><span>0 </span>quizzes</div>
        </div>
      </li>
      <li
        class="h-40 cursor-pointer group hover:bg-teal-200 flex flex-col items-center justify-center bg-gray-100 aspect-square rounded-2xl"
      >
        <div class="bg-gray-300 p-3 group-hover:bg-lime-500 rounded-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
            />
          </svg>
        </div>
        <div class="flex flex-col items-center justify-center gap-0.5 mt-3">
          <div class="font-extrabold text-2xl leading-none">Art</div>
          <div><span>0 </span>quizzes</div>
        </div>
      </li>
      <li
        class="h-40 cursor-pointer group hover:bg-teal-200 flex flex-col items-center justify-center bg-gray-100 aspect-square rounded-2xl"
      >
        <div class="bg-gray-300 p-3 group-hover:bg-lime-500 rounded-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
            />
          </svg>
        </div>
        <div class="flex flex-col items-center justify-center gap-0.5 mt-3">
          <div class="font-extrabold text-2xl leading-none">Art</div>
          <div><span>0 </span>quizzes</div>
        </div>
      </li>
      <li
        class="h-40 cursor-pointer group hover:bg-teal-200 flex flex-col items-center justify-center bg-gray-100 aspect-square rounded-2xl"
      >
        <div class="bg-gray-300 p-3 group-hover:bg-lime-500 rounded-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
            />
          </svg>
        </div>
        <div class="flex flex-col items-center justify-center gap-0.5 mt-3">
          <div class="font-extrabold text-2xl leading-none">Art</div>
          <div><span>0 </span>quizzes</div>
        </div>
      </li>
      <li
        class="h-40 cursor-pointer group hover:bg-teal-200 flex flex-col items-center justify-center bg-gray-100 aspect-square rounded-2xl"
      >
        <div class="bg-gray-300 p-3 group-hover:bg-lime-500 rounded-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
            />
          </svg>
        </div>
        <div class="flex flex-col items-center justify-center gap-0.5 mt-3">
          <div class="font-extrabold text-2xl leading-none">Art</div>
          <div><span>0 </span>quizzes</div>
        </div>
      </li>
      <li
        class="h-40 cursor-pointer group hover:bg-teal-200 flex flex-col items-center justify-center bg-gray-100 aspect-square rounded-2xl"
      >
        <div class="bg-gray-300 p-3 group-hover:bg-lime-500 rounded-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
            />
          </svg>
        </div>
        <div class="flex flex-col items-center justify-center gap-0.5 mt-3">
          <div class="font-extrabold text-2xl leading-none">Art</div>
          <div><span>0 </span>quizes</div>
        </div>
      </li>
      <li
        class="h-40 cursor-pointer group hover:bg-teal-200 flex flex-col items-center justify-center bg-gray-100 aspect-square rounded-2xl"
      >
        <div class="bg-gray-300 p-3 group-hover:bg-lime-500 rounded-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
            />
          </svg>
        </div>
        <div class="flex flex-col items-center justify-center gap-0.5 mt-3">
          <div class="font-extrabold text-2xl leading-none">Art</div>
          <div><span>0 </span>quizzes</div>
        </div>
      </li>
      <li
        class="h-40 cursor-pointer group hover:bg-teal-200 flex flex-col items-center justify-center bg-gray-100 aspect-square rounded-2xl"
      >
        <div class="bg-gray-300 p-3 group-hover:bg-lime-500 rounded-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
            />
          </svg>
        </div>
        <div class="flex flex-col items-center justify-center gap-0.5 mt-3">
          <div class="font-extrabold text-2xl leading-none">Art</div>
          <div><span>0 </span>quizzes</div>
        </div>
      </li>
      <li
        class="h-40 cursor-pointer group hover:bg-teal-200 flex flex-col items-center justify-center bg-gray-100 aspect-square rounded-2xl"
      >
        <div class="bg-gray-300 p-3 group-hover:bg-lime-500 rounded-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
            />
          </svg>
        </div>
        <div class="flex flex-col items-center justify-center gap-0.5 mt-3">
          <div class="font-extrabold text-2xl leading-none">Art</div>
          <div><span>0 </span>quizzes</div>
        </div>
      </li>
      <li
        class="h-40 cursor-pointer group hover:bg-teal-200 flex flex-col items-center justify-center bg-gray-100 aspect-square rounded-2xl"
      >
        <div class="bg-gray-300 p-3 group-hover:bg-lime-500 rounded-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
            />
          </svg>
        </div>
        <div class="flex flex-col items-center justify-center gap-0.5 mt-3">
          <div class="font-extrabold text-2xl leading-none">Art</div>
          <div><span>0 </span>quizzes</div>
        </div>
      </li>
      <li
        class="h-40 cursor-pointer group hover:bg-teal-200 flex flex-col items-center justify-center bg-gray-100 aspect-square rounded-2xl"
      >
        <div class="bg-gray-300 p-3 group-hover:bg-lime-500 rounded-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
            />
          </svg>
        </div>
        <div class="flex flex-col items-center justify-center gap-0.5 mt-3">
          <div class="font-extrabold text-2xl leading-none">Art</div>
          <div><span>0 </span>quizzes</div>
        </div>
      </li>
    </ul>
  </div>
</article>
