<form
  [formGroup]="addquizForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col justify-center items-center bg-white rounded-xl shadow-lg sm:p-12 p-6"
>
  <div class="w-3/4">
    <label class="font-semibold text-xs" for="firstName">Quiz name</label>
    <input
      class="flex items-center h-12 px-4 w-full bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2"
      type="text"
      formControlName="quizName"
    />
  </div>

  <div class="w-3/4">
    <label class="font-semibold text-xs" for="firstName">Desctiption</label>
    <textarea
      rows="4"
      formControlName="description"

      class="flex items-center h-12 px-4 w-full bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2"
    ></textarea>
  </div>

  <div class="w-3/4">
    <label for="cateogory" class="font-semibold text-xs" for="firstName"
      >Cateogory</label
    >
    <select
      id="cateogory"
      formControlName="category"

      class="flex items-center h-12 px-4 w-full bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2"
    >
      <option selected>Choose a cateogory</option>
      <ng-container *ngFor="let item of categories">
        <option value="{{ item?.category_name }}">
          {{ item.category_name }}
        </option>
      </ng-container>
    </select>
  </div>
  <div class="w-3/4 mt-3 p-3">
  <div *ngFor="let question of questions; let i = index">
      <app-question-input [question]="question" [i]="i"></app-question-input>
      </div>
    </div>
  <div class="w-3/4 mt-3 flex justify-between">
    <button (click)="addQuestion()"
      type="button"
      class="text-white h-10 bg-gray-500 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5 mr-1"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-11.25a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"
          clip-rule="evenodd"
        />
      </svg>

      <span class="sr-only">Add question</span>
      Add new question
    </button>
    <app-loading-button
      [buttonType]="'submit'"
      class="flex items-center justify-center px-6 bg-blue-600 hover:bg-blue-700 rounded font-semibold text-sm text-blue-100"
      [label]="'SUBMIT QUIZ'"
    ></app-loading-button>
  </div>
</form>
