<div
  class="w-full sm:max-w-md max-w-sm p-4 bg-neutral-100 border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
>
  <p class="mb-3 font-semibold text-gray-400 dark:text-white">
    Question <span>2</span>
  </p>
  <p class="text-xl font-semibold text-black dark:text-gray-400">
    Connect with one of our available wallet providers or create a new one.?
  </p>
  <ul class="my-4 space-y-3">
    <li>
      <a
        class="flex cursor-pointer border hover:border-green-500 items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-100 hover:bg-gray-200 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        a.<span class="flex-1 ml-3 whitespace-nowrap">MetaMask</span>
      </a>
    </li>
    <li>
      <a
        class="flex cursor-pointer border hover:border-green-500 items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-100 hover:bg-gray-200 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        b.<span class="flex-1 ml-3 whitespace-nowrap">Coinbase Wallet</span>
      </a>
    </li>
    <li>
      <a
        class="flex cursor-pointer border hover:border-green-500 items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-100 hover:bg-gray-200 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        c.<span class="flex-1 ml-3 whitespace-nowrap">Opera Wallet</span>
      </a>
    </li>
    <li>
      <a
        class="flex cursor-pointer border hover:border-green-500 items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-100 hover:bg-gray-200 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        d.<span class="flex-1 ml-3 whitespace-nowrap">WalletConnect</span>
      </a>
    </li>
  </ul>
</div>
